@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kullanıcı Paneli</title>
</head>
<body>
    <div>
        <h1>Hoşgeldiniz, @ViewBag.UserName!</h1>
        <p>Sistemimize giriş yaptığınız için teşekkür ederiz.</p>
    </div>
</body>
</html>
